<!doctype html>
<html lang="en">
<head>
    <title>{block title}{/block}</title>
</head>
<body>
<div id="content">
    {block content}{/block}
</div>
<div id="footer">
    {block footer}&copy; Copyright 2021{/block}
</div>
</body>
</html>