{layout '../layout/main.latte'}
{block title}Hello world{/block}
{block content}
<div class="container">
    <ul n:if="$items">
        {foreach $items as $item}
        <li>{$item|capitalize}</li>
        {/foreach}
    </ul>
</div>
{/block}